name: brew test-bot
on:
  push:
    branches:
    - main
  pull_request:
permissions: {}
jobs:
  test-bot:
    permissions:
      actions: read
      checks: read
      contents: read
      pull-requests: read
    strategy:
      matrix:
        os:
        - ubuntu-22.04
        - macos-15-intel
        - macos-26
    runs-on: ${{ matrix.os }}
    steps:
    - name: Set up Homebrew
      id: set-up-homebrew
      uses: Homebrew/actions/setup-homebrew@main
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Cache Homebrew Bundler RubyGems
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        key: ${{ matrix.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
        path: ${{ steps.set-up-homebrew.outputs.gems-path }}
        restore-keys: ${{ matrix.os }}-rubygems-
    - run: brew test-bot --only-cleanup-before
    - run: brew test-bot --only-setup
    - run: brew test-bot --only-tap-syntax
    - if: github.event_name == 'pull_request'
      run: brew test-bot --only-formulae
    - if: always() && github.event_name == 'pull_request'
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: bottles-${{ matrix.os }}
        path: "*.bottle.*"
